<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConection" connectionString="Data Source=GW-NTB-GW000724\SQLEXPRESS;Initial Catalog=EmpresaXpto;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>